/* styles.css */

/* Set the background color of the scene to #0ED1A2 */
.root {
    -fx-background-color: #0ED1A2;
}

/* Set the text color of labels with class "table-header" to white */
.label.table-header {
    -fx-text-fill: white;
    -fx-background-color: #057D5D;
}

/* Set the background color of grid pane cells with row index 0 to #057D5D */


/* Set the background color of other grid cells to white */
.grid-pane {
    -fx-background-color: white;
}
