.root{
    -fx-background-color: linear-gradient(to bottom, #ecf2e4,#c0dcc3, #8db9aa);
    -fx-font-family: "Fira Sans", sans-serif;
}
.label {
	-fx-font-size: 12.0pt;
}
.label-name{
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-text-fill : black;
}
.menu-bar {
    -fx-background-color: #c0dcc3;
    -fx-font-size: 15;
    -fx-spacing: 200;
    -fx-alignment: CENTER;
}

.search-bar{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 110;
    -fx-prompt-text-fill: gray;
}

.browse-gloves{
    -fx-underline: true;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-background-color: transparent
}
.browse-lead{
    -fx-underline: true;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.browse-MRI{
    -fx-underline: true;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.browse-animal{
    -fx-underline: true;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.label.desc-header {
	-fx-font-weight: bold;
}

#product-name{
	-fx-font-weight: bold;
}


.button {
    -fx-min-width: 5em; /* Base width of the button */
    -fx-min-height: 3em; /* Base height of the button */
    -fx-background-color: #FFFFFF; /* White background */
    -fx-text-fill: #000000; /* Black text color */
    -fx-border-radius: 100; /* Rounded corners */
    -fx-font-size: 10.0pt;
    -fx-background-insets:2,0,0;
}
.button:hover {
    -fx-background-color: #589169; /* New color when hovering, adjust as needed */
    -fx-text-fill: white; /* Text color when hovering */
    -fx-background-insets: 2,0,0; /* Optional: Adds a 1-pixel border when hovering */
    -fx-cursor: hand; /* Optional: Changes cursor to hand when hovering */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0); /* Optional: Adds a drop shadow when hovering */
    -fx-transition: background-color 0.3s, text-fill 0.3s; /* Optional: Smooth transition over 0.3 seconds */
}

.menu-bar {
	-fx-background-color: #c0dcc3;
}

